.text-primary {
  color: var(--pgn-color-primary-base) !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: var(--pgn-color-action-default-primary-base) !important;
}

.text-secondary {
  color: var(--pgn-color-secondary-base) !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: var(--pgn-color-action-default-secondary-base) !important;
}

.btn-primary {
  @include button-variant("primary");
}

.btn-outline-primary {
  @include button-variant("outline-primary");
}

.btn-inverse-primary {
  @include button-variant("inverse-primary");
}

.btn-inverse-outline-primary {
  @include button-variant("inverse-outline-primary");
}

.btn-success {
  @include button-variant("success");
}

.btn-outline-success {
  @include button-variant("outline-success");
}

.btn-inverse-success {
  @include button-variant("inverse-success");
}

.btn-inverse-outline-success {
  @include button-variant("inverse-outline-success");
}

.btn-danger {
  @include button-variant("danger");
}

.btn-outline-danger {
  @include button-variant("outline-danger");
}

.btn-inverse-danger {
  @include button-variant("inverse-danger");
}

.btn-inverse-outline-danger {
  @include button-variant("inverse-outline-danger");
}

.btn-link {
  color: var(--pgn-color-link-base);

  &hover {
    color: var(--pgn-color-link-hover);
  }
}

&.btn-icon-primary {
  --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-primary-hover);
  --btn-icon-hover-color: var(--pgn-color-icon-button-text-primary-hover);
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-primary-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-primary-base);
  --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-primary-focus);
  --btn-icon-focus-color: var(--pgn-color-icon-button-text-primary-focus);
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-primary-base
  );
}

&.btn-icon-inverse-primary {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-primary-inverse-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-primary-inverse-hover
  );
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-primary-inverse-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-primary-inverse-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-primary-inverse-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-primary-inverse-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-primary-inverse
  );
}

&.btn-icon-primary-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-primary-active-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-primary-active-hover
  );
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-primary-active-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-primary-active-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-primary-active-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-primary-active-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-primary-active
  );
}

&.btn-icon-inverse-primary-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-primary-inverse-active-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-primary-inverse-active-hover
  );
  --btn-icon-bg-color: var(
    --pgn-color-icon-button-bg-primary-inverse-active-base
  );
  --btn-icon-color: var(
    --pgn-color-icon-button-text-primary-inverse-active-base
  );
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-primary-inverse-active-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-primary-inverse-active-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-primary-inverse-active
  );
}

&.btn-icon-success {
  --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-success-hover);
  --btn-icon-hover-color: var(--pgn-color-icon-button-text-success-hover);
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-success-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-success-base);
  --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-success-focus);
  --btn-icon-focus-color: var(--pgn-color-icon-button-text-success-focus);
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-success-base
  );
}

&.btn-icon-inverse-success {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-success-inverse-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-success-inverse-hover
  );
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-success-inverse-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-success-inverse-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-success-inverse-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-success-inverse-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-success-inverse
  );
}

&.btn-icon-success-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-success-active-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-success-active-hover
  );
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-success-active-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-success-active-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-success-active-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-success-active-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-success-active
  );
}

&.btn-icon-inverse-success-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-success-inverse-active-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-success-inverse-active-hover
  );
  --btn-icon-bg-color: var(
    --pgn-color-icon-button-bg-success-inverse-active-base
  );
  --btn-icon-color: var(
    --pgn-color-icon-button-text-success-inverse-active-base
  );
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-success-inverse-active-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-success-inverse-active-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-success-inverse-active
  );
}

&.btn-icon-danger {
  --btn-icon-hover-bg-color: var(--pgn-color-icon-button-bg-danger-hover);
  --btn-icon-hover-color: var(--pgn-color-icon-button-text-danger-hover);
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-danger-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-danger-base);
  --btn-icon-focus-bg-color: var(--pgn-color-icon-button-bg-danger-focus);
  --btn-icon-focus-color: var(--pgn-color-icon-button-text-danger-focus);
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-danger-base
  );
}

&.btn-icon-inverse-danger {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-danger-inverse-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-danger-inverse-hover
  );
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-danger-inverse-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-danger-inverse-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-danger-inverse-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-danger-inverse-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-danger-inverse
  );
}

&.btn-icon-danger-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-danger-active-hover
  );
  --btn-icon-hover-color: var(--pgn-color-icon-button-text-danger-active-hover);
  --btn-icon-bg-color: var(--pgn-color-icon-button-bg-danger-active-base);
  --btn-icon-color: var(--pgn-color-icon-button-text-danger-active-base);
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-danger-active-focus
  );
  --btn-icon-focus-color: var(--pgn-color-icon-button-text-danger-active-focus);
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-danger-active
  );
}

&.btn-icon-inverse-danger-active {
  --btn-icon-hover-bg-color: var(
    --pgn-color-icon-button-bg-danger-inverse-active-hover
  );
  --btn-icon-hover-color: var(
    --pgn-color-icon-button-text-danger-inverse-active-hover
  );
  --btn-icon-bg-color: var(
    --pgn-color-icon-button-bg-danger-inverse-active-base
  );
  --btn-icon-color: var(
    --pgn-color-icon-button-text-danger-inverse-active-base
  );
  --btn-icon-focus-bg-color: var(
    --pgn-color-icon-button-bg-danger-inverse-active-focus
  );
  --btn-icon-focus-color: var(
    --pgn-color-icon-button-text-danger-inverse-active-focus
  );
  --btn-icon-box-shadow: var(
    --pgn-elevation-icon-button-box-shadow-danger-inverse-active
  );
}

.alert-success {
  color: inherit;
  background-color: var(--pgn-color-alert-bg-success);
  border-color: var(--pgn-color-alert-border-success);

  .alert-icon {
    color: var(--pgn-color-alert-icon-success);
  }
}

.alert-danger {
  color: inherit;
  background-color: var(--pgn-color-alert-bg-danger);
  border-color: var(--pgn-color-alert-border-danger);

  .alert-icon {
    color: var(--pgn-color-alert-icon-danger);
  }
}

a.muted-link {
  color: var(--pgn-color-link-muted-base);

  &:hover {
    color: var(--pgn-color-link-muted-hover);
  }

  p > &[href]:not(.btn),
  &.inline-link {
    color: var(--pgn-color-link-muted-inline-base);
    text-decoration-color: var(--pgn-color-link-muted-inline-decoration);

    &:hover {
      color: var(--pgn-color-link-muted-inline-hover-base);
      text-decoration-color: var(
        --pgn-color-link-muted-inline-hover-decoration
      );
    }
  }
}

// Paragon form
.pgn__form-checkbox-input,
.pgn__form-radio-input {
  &:focus {
    border-color: var(--pgn-color-form-input-focus-border);
  }

  &:focus::before {
    border: var(--pgn-size-form-border-radius-width) solid
      var(--pgn-color-form-input-focus-border);
  }
}

.pgn__form-control-decorator {
  .btn-icon {
    &:focus {
      background-color: transparent !important;
    }
  }
}

// profile MFE
.profile-page {
  .profile-avatar-menu-container {
    .dropdown {
      .btn {
        background: transparent;
        border-color: transparent;
        margin: 0;
      }
    }
  }
}

// discussion
.border-primary-500-2 {
  border: 2px solid var(--pgn-color-primary-500) !important;
}

.btn-icon.btn-icon-primary:hover {
  background-color: var(--pgn-color-light-500) !important;
  color: var(--pgn-color-primary-500);
}

.btn-tertiary {
  color: #a6a6a6;
  &:hover {
    color: var(--pgn-color-primary-light);
  }
}

.nav-button-group {
  .nav-link.active,
  .show > .nav-link {
    background-color: var(--pgn-color-primary-500) !important;
  }
}

.text-TA-color {
  color: var(--pgn-color-success-700);
}

.outline-TA-color {
  outline: var(--pgn-color-success-700) solid 2px;
}

.nav-underline-tabs {
  .nav-link {
    &:hover,
    &:focus,
    &.active {
      color: var(--pgn-color-primary-500);
      border-bottom-color: var(--pgn-color-primary-500);
    }
  }
}

.tox .tox-edit-area__iframe {
  color: red;
  background-color: var(--pgn-color-body-bg);
}

.pgn__card {
  background-color: var(--pgn-color-body-bg);
  border: 1px solid var(--pgn-color-light-base);
}

a.brand-link {
  color: var(--pgn-color-brand-base);
}

@import "./learning";
